/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

div.main.row {
  text-align: center;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.owl-demo img {
    width: 26%;
    /* float: right; */
}

h5.category {
  font-weight: bold;
}
.loader div.box {
    float: left;
}
.loader div.box img {
  padding: 0.5em;
  border: 3px solid;
}

.loader .row .six.columns {
height: 325px;