<div class="checkout">
  <!-- DATA VIZ -->
  <section ng-hide="loading" class="module data-viz-module">
      <h3> Estas sacando... </h3>
      <h1> {{items.length}} prendas </h1>
      <h3> Te espero unos {{counter}} segundos... </h3>

      <div class="row">
        <div class="item" ng-repeat="item in items">
          <div class="box six columns">

            <img ng-src="{{item.src}}"  alt="Owl Image">
            <h5 class="title"> {{item.title}} </h5>
          </div>
        </div>
    </div>

  </section>
</div>