<!-- INIT -->
<section class="module init-module">
  <h1>#DressMeUp </h1>
  <div class="row">
    <h3 class="init-copy">¿Cómo está el dia hoy?</h3>
    <p><h1>
        <i class="icon-water"></i>
        <i class="icon-light-up"></i>
        <a href="#/gallery"><i class="icon-cloud"></i></a>
      </h1></p>
    <h3 class="init-copy">¿Adónde vamos?</h3>
    <p><h1>
      <i class="icon-suitcase"></i>
      <i class="icon-moon"></i>
    </h1></p>
  </div>
    <div class="row">
      <div class="xlarge oval primary btn"><a ng-click="" href="#/loader">In</a></div>
      <div class="xlarge oval secondary btn"><a ng-click="" href="#/checkout">Out</a></div>
      <div class="xlarge oval btn success">
        <a ng-click="" href=""><i class="icon-plus"></i></a></div>
      <div class="xlarge oval success btn">
        <a ng-click="" href=""><i class="icon-user"></i></a></div>
    </div>
</section>