<!-- INIT -->
<section class="module init-module">
  <div class="row">
    <h3 class="init-copy">What's the weather today?</h3>
    <p><h1><i class="icon-water"></i></h1></p>
  </div>
    <div class="row">
      <div class="xlarge oval primary btn"><a ng-click="" href="">In</a></div>
      <div class="xlarge oval secondary btn"><a ng-click="" href="">Out</a></div>
      <div class="xlarge oval btn success">
        <a ng-click="" href=""><i class="icon-plus"></i></a></div>
      <div class="xlarge oval success btn">
        <a ng-click="" href=""><i class="icon-user"></i></a></div>
    </div>
</section>